.background-image {
    min-height: 95vh;
    background-image: url(./images/colosseo.jpg);
    background-position: center center;
    background-size: cover;
}

.sfondo {
    background: rgb(136, 34, 195);
    background: -moz-linear-gradient(0deg, rgba(136, 34, 195, 1) 0%, rgba(45, 241, 253, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(136, 34, 195, 1) 0%, rgba(45, 241, 253, 1) 100%);
    background: linear-gradient(0deg, rgba(136, 34, 195, 1) 0%, rgba(45, 241, 253, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8822c3",endColorstr="#2df1fd",GradientType=1);
}

.background-style {
    background-color: rgba(255, 255, 255, 0.534);
}

.dimensioni-Sfondo {
    background-size: cover;
    background-position: center;
}

/* Nascondi gli indicatori del carousel in Bootstrap */
.carousel-indicators {
    display: none;
}

.max-width-cerchio {
    max-width: 550px;
    max-height: 550px;
}
